.drinkSpotlight {
	display: none;
	color: black;
	grid-area: gallery;
	position: relative;
	width: 100%;
	// height: 600px;
	height: 84vh;
	border-radius: 10px;
	padding: 20px;
	opacity: 1;
	transition: opacity 0.4s;
	z-index: 1;
	background: $backing;
	overflow-y: scroll;

	.subContainer {
		@include flexRow();
		flex-wrap: wrap;
		align-content: center;
	}
	.focusDrink {
		width: 100%;
	}

	.imgContainer {
		float: left;
		width: 40%;
		height: auto;
		position: relative;
		margin-bottom: 20px;
		opacity: 1;
		transition: opacity 0.4s;
		z-index: 1;
		img {
			width: 100%;
			object-fit: cover;
			border-radius: 10px;
			box-shadow: 0 0 5px 2px $primary;
		}
	}

	h2 {
		position: relative;
		color: $accent;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 3rem;
		width: 55%;
		float: right;
		z-index: 1;
	}

	h3 {
		text-align: left;
		position: relative;
		text-transform: uppercase;
		font-size: 1.5rem;
		letter-spacing: 1.5px;
		line-height: 1;
		z-index: 1;
	}

	.ingredientParent {
		float: right;
		clear: right;
		position: relative;
		width: 55%;
		color: $white;
		margin-top: 20px;
		opacity: 1;
		transition: opacity 0.4s;
		z-index: 1;

		li {
			opacity: 1;
			font-size: 1.6rem;
			margin: 5px 0;
		}
	}

	p {
		line-height: 1.2;
		margin: 0;
		font-size: 1.6rem;
	}

	.instructionParent {
		position: relative;
		float: none;
		width: 100%;
		clear: both;
		color: $white;
		margin-top: 150px;
		opacity: 1;
		transition: opacity 0.4s;
		z-index: 1;
	}

	.glassType {
		color: $white;
		margin: 5px 0;
		&:before {
			content: "Recommended Glass: ";
			color: $accent;
			position: relative;
			left: 0;
		}
	}
}
