html {
	font-size: 62.5%;
	background: black;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-family: $mainStack;
}

img {
	display: block;
}

a,
button,
input {
	display: inline-block;
	border: none;
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.wrapper {
	max-width: 1080px;
	width: 80%;
	margin: 0 auto;

	@include maxWidth1050 {
		width: 95%;
	}
}
