@media (max-width: 750px) {
	body.hamburgerOpen {
		overflow-y: hidden;
		height: 100vh;
	}

	.relatedDrinks {
		margin: 0 auto 10px;
	}

	.drinkFilters {
		position: fixed;
		top: 0;
		left: 200vw;
		width: 100%;
		height: 100vh;
		transition: left 0.5s;
		border-radius: 0;
		padding-top: 40px;
		z-index: 5;

		&.showDrinksFilter {
			left: 0;
		}
		input {
			padding: 1%;
		}
	}

	.hamburger {
		display: block;
		background: $accent2;
		border: 2px solid $white;
		box-shadow: 0 0 0 2px $accent2;
		border-radius: 50px;
		padding: 2px;
		position: fixed;
		top: 5px;
		right: 20px;
		z-index: 10;
		width: 45px;
		height: 45px;

		&:focus {
			outline: 4px dotted $secondary;
		}

		.bar {
			display: inline-block;
			position: absolute;
			background: $white;
			margin: 1px 0;
			height: 2px;
			line-height: 0;
			width: 25px;
			left: 9px;
			border-radius: 2px;
		}
		.bar1 {
			top: 12.5px;
			transition: top 0.5s, transform 0.5s;
		}
		.bar2 {
			opacity: 1;
			top: 20px;
			transition: opacity 0.5s;
		}
		.bar3 {
			bottom: 10.5px;
			transition: top 0.5s, transform 0.5s;
		}
		.bar1.animate {
			top: 20px;
			transform: rotate(405deg);
		}
		.bar2.animate {
			opacity: 0;
		}
		.bar3.animate {
			top: 20px;
			transform: rotate(495deg);
		}
	}
}

@media (max-width: 630px) {
	h1 {
		font-size: 4rem;
	}

	.drinkSpotlight {
		h2 {
			font-size: 2.5rem;
		}
		p {
			font-size: 1.5rem;
		}
	}
}

@media (max-width: 500px) {
	h1 {
		font-size: 3rem;
		margin: 5px 10px;
		width: calc(100% - 20px);
	}
	.drinkSpotlight {
		h2 {
			display: none;
		}
		.imgContainer {
			position: relative;
			float: none;
			width: 100%;
			height: 200px;
			h2.mobile {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
				font-size: 2.5rem;
				text-shadow: 2px 2px 2px black;
				color: $accent;
				text-align: center;
				word-wrap: break-word;
				width: 90%;
			}
			img {
				object-fit: cover;
				height: 100%;
				object-position: top;
			}
		}
		.ingredientParent {
			float: none;
			width: 100%;
			margin: 0 auto;
			li {
				margin: 0;
			}

			h3 {
				float: none;
				align-self: flex-start;
				transform: translate(-50%, -50%);
			}
		}

		.instructionParent {
			margin-top: 20px;
		}
	}

	.relatedDrinks h3 {
		word-wrap: break-word;
	}
}
