// variables
$primary: #3A405A;
$secondary: #F9DEC9;
$tertiary: #F9F7F3;
$accent: #8ce8fb;
$black: #1F1F1F;
$white: #F6F6F6;
$backing: #F6F6F633;
$background:#2a1824;


@import url("https://fonts.googleapis.com/css?family=Arima+Madurai|Forum|Poiret+One&display=swap");

$mainStack: "Poiret One", cursive;
$bodyStack: serif;


//mixins
@mixin flexRow($justify: center) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: center;
}

@mixin flexCol($align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $align;
    align-items: center;
}

//media query mixins
@mixin maxWidth1050 {
	@media (max-width: 1050px) {
		@content;
	}
}

@mixin maxWidth740 {
	@media (max-width: 740px) {
		@content;
	}
}

@mixin maxWidth600 {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin maxWidth500 {
	@media (max-width: 500px) {
		@content;
	}
}