// variables
$primary: #fff7c9;
$secondary: #642e68;
$tertiary: #a9902b;
$accent: #c68006;
$black: #1F1F1F;
$white: #F6F6F6;
$background:#2a1824;

$headingStack: "Abril Fatface", cursive;
$bodyStack: "Montserrat", sans-serif;


//mixins
@mixin flexRow($justify: center) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: center;
}

@mixin flexCol($align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $align;
    align-items: center;
}

//media query mixins
@mixin maxWidth950 {
	@media (max-width: 950px) {
		@content;
	}
}

@mixin maxWidth740 {
	@media (max-width: 740px) {
		@content;
	}
}

@mixin maxWidth600 {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin maxWidth500 {
	@media (max-width: 500px) {
		@content;
	}
}