// variables
$primary: #3a405a;
$secondary: #f9dec9;
$tertiary: #f9f7f3;
$accent: #8ce8fb;
$accent2: #fcd29f;
$black: #1f1f1f;
$white: #f6f6f6;
$backing: #313131;
$background: #2a1824;

@import url("https://fonts.googleapis.com/css?family=Arima+Madurai|Forum|Poiret+One&display=swap");

$mainStack: "Poiret One", cursive;
$bodyStack: serif;

//mixins
@mixin flexRow($justify: center) {
	display: flex;
	flex-direction: row;
	justify-content: $justify;
	align-items: center;
}

@mixin flexCol($align: center) {
	display: flex;
	flex-direction: column;
	justify-content: $align;
	align-items: center;
}

//media query mixins
// using
@mixin maxWidth1050 {
	@media (max-width: 1050px) {
		@content;
	}
}

// using
@mixin maxWidth930 {
	@media (max-width: 930px) {
		@content;
	}
}

// this will be a major break point

@mixin maxWidth750 {
	@media (max-width: 750px) {
		@content;
	}
}

// using this
@mixin maxWidth630 {
	@media (max-width: 630px) {
		@content;
	}
}

@mixin maxWidth500 {
	@media (max-width: 500px) {
		@content;
	}
}
